<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      margin: 0;
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: white;
      font-family: sans-serif;
    }

    img {
      max-height: 80vh;
    }

    .footer {
      position: absolute;
      bottom: 10px;
      font-size: 14px;
      opacity: 0.7;
    }
  </style>
</head>
<body>

  <img src="/static/niko.gif">

  <div class="footer">
    oneshot is peak
  </div>

</body>
</html>